NetNamedPipeBinding/NetNamedPipeBindingClient/Connected Services/ServiceReference/RemoteObject.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteObject" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IRemoteObject_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IRemoteObject_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/Demo/Meta?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/Demo/Meta?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemoteObject_GetRBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRBytes" />
  </wsdl:message>
  <wsdl:message name="IRemoteObject_GetRBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IRemoteObject_ReceiveRBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveRBytes" />
  </wsdl:message>
  <wsdl:message name="IRemoteObject_ReceiveRBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveRBytesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRemoteObject">
    <wsdl:operation name="GetRBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteObject/GetRBytes" message="tns:IRemoteObject_GetRBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteObject/GetRBytesResponse" message="tns:IRemoteObject_GetRBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveRBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemoteObject/ReceiveRBytes" message="tns:IRemoteObject_ReceiveRBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemoteObject/ReceiveRBytesResponse" message="tns:IRemoteObject_ReceiveRBytes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IRemoteObject" type="tns:IRemoteObject">
    <wsp:PolicyReference URI="#WSHttpBinding_IRemoteObject_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRBytes">
      <soap12:operation soapAction="http://tempuri.org/IRemoteObject/GetRBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveRBytes">
      <soap12:operation soapAction="http://tempuri.org/IRemoteObject/ReceiveRBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IRemoteObject" type="tns:IRemoteObject">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IRemoteObject_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetRBytes">
      <soap12:operation soapAction="http://tempuri.org/IRemoteObject/GetRBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveRBytes">
      <soap12:operation soapAction="http://tempuri.org/IRemoteObject/ReceiveRBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteObject">
    <wsdl:port name="WSHttpBinding_IRemoteObject" binding="tns:WSHttpBinding_IRemoteObject">
      <soap12:address location="http://localhost:8001/Demo/DoStuff" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8001/Demo/DoStuff</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IRemoteObject" binding="tns:NetNamedPipeBinding_IRemoteObject">
      <soap12:address location="net.pipe://localhost/Demo/DoStuff" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/Demo/DoStuff</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>